.botonContador {
    width: 100px;
    height: 25px;
    background-color: rgb(145, 145, 145);
    border-color: rgb(180, 0, 0);
    padding-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.divContador {
    display: flex;
    justify-content: space-around;
}

.contador {
    width: 50px;
    height: 10px;
    color: black;
    font-size: large;
    margin: 0;
}

.botonContadorAgregar {
    width: 200px;
    height: 28px;
    background-color: rgb(145, 145, 145);
    border-color: rgb(180, 0, 0);
    margin-top: 15px;
    margin-bottom: 15px;
}
