.botonContador {
    width: 100px;
    height: 25px;
    background-color: rgb(6, 194, 207);
    border-color: black;
    padding-bottom: 25px;
}

.divContador {
    display: flex;
    justify-content: space-around;
}

.contador {
    width: 50px;
    height: 10px;
    color: black;
    font-size: large;
    margin: 0;
}

.botonContadorAgregar {
    width: 200px;
    height: 28px;
    background-color: rgb(6, 194, 207);
    border-color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}